<div class="bg-white container-fluid  ">
    <div class="row ">
        <div class="col-lg-6 p-lg-5">
            <br>
            <img src="../../assets/imgs/404-page-illustration.png" class="w-100 p-5 ">
        </div>
        <div class="col-lg-6 d-flex  align-items-center ">
            <div class="p-lg-5 ">
                <h4 class="text-secondary fw-bolder pt-5  ">ERROR 404 - PAGE NOT FOUND</h4>
                <h4 class="fs-1 fw-bolder my-4 pb-5   "><span class="text-primary ">Hmm,</span> are you sure there’s a
                    page here?
                    We can’t seem to find it.</h4>
                <a class="fw-bolder fs-6" routerLink="/home">RETURN TO HOMEPAGE</a>
            </div>

        </div>
    </div>

</div>
